In [1]:
# Importing Libraries
from langchain.utilities import SQLDatabase
from langchain.llms import OpenAI
from langchain.prompts import PromptTemplate
from langchain.chains import create_sql_query_chain
from langchain_core.output_parsers import StrOutputParser
from langchain_core.runnables import RunnablePassthrough
from langchain_google_genai import ChatGoogleGenerativeAI

In [2]:
# Connecting To MYSQL Database
host = 'localhost'
port = '3306'
username = 'root'
password = '1234'
database_schema = 'text_to_sql'

mysql_uri = f"mysql+pymysql://{username}:{password}@{host}:{port}/{database_schema}"

db = SQLDatabase.from_uri(mysql_uri,sample_rows_in_table_info=2)

In [4]:
db = SQLDatabase.from_uri(mysql_uri,sample_rows_in_table_info=2)

db.get_table_info()

'\nCREATE TABLE `2017_budgets` (\n\t`Product Name` TEXT, \n\t`2017 Budgets` DOUBLE\n)ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4\n\n/*\n2 rows from 2017_budgets table:\nProduct Name\t2017 Budgets\nProduct 1\t3016489.2089999998\nProduct 2\t3050087.5649999999\n*/\n\n\nCREATE TABLE customers (\n\t`Customer Index` INTEGER, \n\t`Customer Names` TEXT\n)ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4\n\n/*\n2 rows from customers table:\nCustomer Index\tCustomer Names\n1\tGeiss Company\n2\tJaxbean Group\n*/\n\n\nCREATE TABLE products (\n\t`Index` INTEGER, \n\t`Product Name` TEXT\n)ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4\n\n/*\n2 rows from products table:\nIndex\tProduct Name\n1\tProduct 1\n2\tProduct 2\n*/\n\n\nCREATE TABLE regions (\n\tid INTEGER, \n\tname TEXT, \n\tcounty TEXT, \n\tstate_code TEXT, \n\tstate TEXT, \n\ttype TEXT, \n\tlatitude DOUBLE, \n\tlongitude DOUBLE, \n\tarea_code INTEGER, \n\tpopulation INTEGER, \n\thouseholds INTEGER, \n\tmedian_income INTEGER, \n\tland_area INTEGER, \n\twater_area INTEGER, \n\ttime_zone TEXT\n)ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4\n\n/*\n2 rows from regions table:\nid\tname\tcounty\tstate_code\tstate\ttype\tlatitude\tlongitude\tarea_code\tpopulation\thouseholds\tmedian_income\tland_area\twater_area\ttime_zone\n1\tAuburn\tLee County\tAL\tAlabama\tCity\t32.6098600000\t-85.4807800000\t334\t62059\t21767\t38342\t152375113\t2646161\tAmerica/Chicago\n2\tBirmingham\tShelby County/Jefferson County\tAL\tAlabama\tCity\t33.5274400000\t-86.7990500000\t205\t212461\t89972\t31061\t378353942\t6591013\tAmerica/Chicago\n*/\n\n\nCREATE TABLE sales_order (\n\t`OrderNumber` TEXT, \n\t`OrderDate` TEXT, \n\t`Customer Name Index` INTEGER, \n\t`Channel` TEXT, \n\t`Currency Code` TEXT, \n\t`Warehouse Code` TEXT, \n\t`Delivery Region Index` INTEGER, \n\t`Product Description Index` INTEGER, \n\t`Order Quantity` INTEGER, \n\t`Unit Price` DOUBLE, \n\t`Line Total` DOUBLE, \n\t`Total Unit Cost` DOUBLE\n)ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4\n\n/*\n2 rows from sales_order table:\nOrderNumber\tOrderDate\tCustomer Name Index\tChannel\tCurrency Code\tWarehouse Code\tDelivery Region Index\tProduct Description Index\tOrder Quantity\tUnit Price\tLine Total\tTotal Unit Cost\nSO - 000225\t2021-01-01\t126\tWholesale\tUSD\tAXW291\t364\t27\t6\t2499.1000000000\t14994.6000000000\t1824.3430000000\nSO - 0003378\t2021-01-01\t96\tDistributor\tUSD\tAXW291\t488\t20\t11\t2351.7000000000\t25868.7000000000\t1269.9180000000\n*/\n\n\nCREATE TABLE state_regions (\n\t`State Code` TEXT, \n\t`State` TEXT, \n\t`Region` TEXT\n)ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4\n\n/*\n2 rows from state_regions table:\nState Code\tState\tRegion\nAL\tAlabama\tSouth\nAR\tArkansas\tSouth\n*/'

In [15]:
from langchain_core.prompts import ChatPromptTemplate

template = """
You are an expert SQL generator.
Return ONLY a valid SQL query.

Rules:
- Do NOT use backticks (`).
- Replace spaces in column names with underscores automatically.
- Do NOT use quotes around table or column names.
- DO NOT use regex patterns.
- Only return SQL.

Question: {question}

SQL Query:
"""


prompt = ChatPromptTemplate.from_template(templete)

In [16]:
# get the schema of the database
def get_schema(db):
    schema = db.get_table_info()
    return schema

In [17]:
llm = ChatGoogleGenerativeAI(
    model="gemini-2.0-flash",
    google_api_key="AIzaSyAmfRxQKSWnE9hn8TzPoy_HdEg7mcrSRVA"
)

In [18]:
# Create the SQL query chain using the LLM and the prompt templete
sql_chain = (
    RunnablePassthrough.assign(schema=lambda _:get_schema(db))
    | prompt 
    | llm.bind(stop=["\nSQLResult:"])
    | StrOutputParser()
)

In [19]:
# test the SQL query chain witha sample question
resp = sql_chain.invoke({"question": "what is the total 'Line Total' for Geiss Company"})
print(resp)

```sql
SELECT sum(T1.`Line Total`) FROM sales_order AS T1 INNER JOIN customers AS T2 ON T1.`Customer Name Index` = T2.`Customer Index` WHERE T2.`Customer Names` = 'Geiss Company'
```

In [20]:
resp = sql_chain.invoke({"question": "what is the Budget of product 12"})
print(resp)

```sql
SELECT `2017 Budgets` FROM `2017_budgets` WHERE `Product Name` = (SELECT `Product Name` FROM products WHERE `Index` = 12)
```

In [21]:
import re 
query = re.search(r"```sql\s*(.*?)\s*```", resp, re.DOTALL | re.IGNORECASE)
if query:
    query = query.group(1).strip()

In [22]:
query

'SELECT `2017 Budgets` FROM `2017_budgets` WHERE `Product Name` = (SELECT `Product Name` FROM products WHERE `Index` = 12)'

In [23]:
db.run(query)

'[(1356976.996,)]'